.material-icons
{
	display: inline-block;
	vertical-align: middle;
}

ul
{
	list-style-type: none;
	padding-left: 5px;
}

a
{
	color: white !important;
}

body
{
	background-color: rgb(64,64,64);
	color: white;
}

h2
{
	margin-top: 0px;
	margin-bottom: 0px;
}


.well
{
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}



#col1, #col5
{
	background-color: rgb(156,39,176);
	color: white;
}

#col2, #col6
{
	background-color: rgb(233,30,99);
}

#col3, #col7
{
	background-color: rgb(76,175,80);
}

#col4, #col8
{
	background-color: rgb(0,188,212);
}

#col5, #col6, #col7, #col8
{
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.page-footer
{
	text-align: center;
	color: white;
	height: 10%;
	padding: 1%;
}